@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GlacialIndifference-Regular;
  src: url('./fonts/GlacialIndifference-Regular.woff');
}

body {
  @apply min-h-screen bg-lighter text-darker;
}

h1,
h2 {
  @apply font-serif;
}

::selection {
  color: #eeeeee;
  background: #00adb5;
}
